<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <title>scrap</title>
</head>
<body>
<form name="form1" action="/" method="POST" >

<span class="aaa">url:</span>
<h3 ><%=url %></h3>
<span class="aaa">title:</span>
<h3 ><%=title %></h3>


<!--txt-->
<input type="checkbox" name="txt_chk" value="on" >
<span class="aaa">txt:</span>
<br>
<%txt.forEach(function(value,key) { %>
<span ><%= value %>,</span>
<% }); %>
<br>
<br>
<!--img-->
<input type="checkbox" name="img_chk" value="on" >
<span class="aaa">img_url:</span>
<br>
<%img.forEach(function(value,key) { %>
<h3 ><%= value %></h3>
<br>
<% }); %>

<br>
<div class="aaa">img:</div>
<%img.forEach(function(value,key) { %>
<img src="<%- value %>"></img>
<br>
<% }); %>

<!--img id="img1"/-->
 <br>
 <h3>please enter url...</h3>
 <!--textareaの場合はvalueでなくejsはinnerHTMLに入るように-->
 <textarea rows="10" cols="60" id="urlText" value="" name="url" style="width:700px;"><%= keywordUrl %></textarea>
 <br>
 <input type="submit" id="submit" value="transmit">
 <input type="button"  value="reload" onclick="location.href='/';">
 <span>url_arr_range:</span>
 <input type="number" id="stt" value="0" min="0" max="100" step="1">
 <input type="number" id="end" value="1" min="1" max="100" step="1">
 <br>
 <br>
 <br>
 <br>
 <h3 >-option1-</h3>
 <input type="checkbox" name="keyword_chk" id="kchk" value="on" >
 <span class="aaa">keyword:</span>
 <h3 ><%=keyword %></h3>
 <input type="text"  value="" name="keyword">
 <%keywordUrl.forEach(function(value,key) { %>
 <h3 ><%=value %></h3>
 <br>
 <% }); %>
 <br>
 <br>
 <h3 >-option2-</h3>
 <input type="file" id="file">


</form>

<script>

var urlArr=[];
urlArr=document.getElementById("urlText").value.split(",");
var sttNum;
var endNum;


document.getElementById("kchk").onchange=function()
{
 if(document.getElementById("kchk").checked == true)
 {
 document.getElementsByName("url")[0].value='http://www.google.com/search';
 }else{document.getElementsByName("url")[0].value=''}
}




document.getElementById("stt").onchange=function()
{
sttNum=parseInt(document.getElementById("stt").value);
//urlText=urlArr.slice(sttNum,endNum);
document.getElementById("urlText").value =urlArr.slice(sttNum,endNum);;
}

document.getElementById("end").onchange=function()
{
endNum=parseInt(document.getElementById("end").value);
document.getElementById("urlText").value=urlArr.slice(sttNum,endNum);
}




let fileInput = document.getElementById('file');
let fileReader = new FileReader();
fileInput.onchange = () =>
{
  let file = fileInput.files[0];
  fileReader.readAsText(file);
};

fileReader.onload = () =>
{
//重要！！fileReaderで読んだテキストをLFで分けて配列に
var LF = String.fromCharCode(10);
urlArr = fileReader.result.split(LF);
console.log(urlArr)
document.getElementById("urlText").value=urlArr;
}

/*
document.getElementById("submit").onclick=function timer()
{
 document.getElementById("submit").disabled=true;
 setTimeout(function(){document.getElementById("submit").disabled=false;},3000)
}
*/



</script>
</body>
</html>