<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css"/>
    <title>scrap</title>
</head>
<body>
<form name="form1" action="/" method="POST" >

<span class="aaa">url:</span>
<h3 ><%=url %></h3>
<span class="aaa">title:</span>
<h3 ><%=title %></h3>


<!--txt-->
<input type="checkbox" name="txt_chk" value="on" >
<span class="aaa">txt:</span>
<br>
<%txt.forEach(function(value,key) { %>
<span ><%= value %>,</span>
<% }); %>
<br>

<!--img-->
<input type="checkbox" name="img_chk" value="on" >
<span class="aaa">img_url:</span>
<br>
<%img.forEach(function(value,key) { %>
<h3 ><%= value %></h3>
<br>
<% }); %>

<div class="aaa">img:</div>
<%img.forEach(function(value,key) { %>
<img src="<%- value %>"></img>
<br>
<% }); %>

<!--img id="img1"/-->


 <input type="text"  value="" name="url">
 <input type="submit" id="submit" value="transmit">
 <input type="button"  value="reload" onclick="location.href='/';">

</form>

<script>
/*
document.getElementById("submit").onclick=function timer()
{
 document.getElementById("submit").disabled=true;
 setTimeout(function(){document.getElementById("submit").disabled=false;},3000)
}
*/



</script>
</body>
</html>